<p style="padding-bottom:500px">Contact Failed. Please try click 
		<a href="#contact_return" onclick="window.opera ? Element.scrollTo('contact_return') : Effect.ScrollTo('contact_return'); return false;" style="text-decoration:underline">here</a> 
	and try again. If the form still
	doesn't work we apologize; please
	use our email address listed at the bottom of the page.</p>