<% content_for :page_stylesheets do %>
	<%= stylesheet_link_tag 'index'%>
<% end %>

<h2 id="welcome">Aloha. Welcome to Graphic Surf</h2>

<p id="welcome_text">
	Hello, I'm Michael Krontz; this is my online portfolio. I’m a visual designer who
	lives in the Atlanta area, not the beach...unfortunately. Below you will find
	several pieces of my latest work. I have extensive experience in print, identity, and
	interactive. You can get in touch with me by using the contact form at the bottom of the
	page. I look forward to hearing from you. Mahalo!
</p>

<ul id="project_list">
	<%= render :partial => 'projects/project', :collection => @projects %>
</ul>